#start {
    display: block;
    height: 576px;
}

#menu {
    display: block;
    height: 576px;
}

#game {
    display: none; 
    position: absolute;               
    left: 50%;
    top: 50%;
    margin-left: -512px;
    margin-top:  -288px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#wasd {
    -webkit-filter: invert(100%);
    /* filter: invert(90%) sepia(98%) saturate(4839%) hue-rotate(86deg) brightness(99%) contrast(104%); */
}

.left-column {
    margin-left: auto;
    margin-right: auto;
}

.right-column {
    margin-left: auto;
    margin-right: auto;
}

p {
    color: #00FFCB;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
}
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url("assets/photo.png");
}

canvas {
    border-radius: 3%;
    border: solid 2px #00FFCB;
}


.hit {
    animation: borderPulse 1s linear ;
}

.hit-lives {
    animation: textPulse 1s linear ;
}

.oneLive {
    border: solid 2px red;
    color: red;
}

@keyframes textPulse
{
    0% { color: yellow;}
    50% { color: red;}
    100% { color: yellow;}
}

@keyframes borderPulse
{
    0%   { border: solid 2px #00FFCB;}
    50%   { border: solid 2px red;}
    75%  { border: solid 2px black;}
    100% { border: solid 2px #00FFCB;}
}

.bar-element {
    margin: 5px;
    padding: 3px;
    border-radius: 10%;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;

}


/* button ----------------------------------- */
.wrap2 {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }

  .normalbutton.button::after {
    content: none;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }